sklep {
	background-color: #FFFFCC;
	font-family: 'Verdana', 'Arial', sans-serif;
	font-size: 12pt;
}

towar, kategoria {
	display: block;
	background-color: white;
	min-width: 400px;
	max-width: 800px;
	/* width: 500px; */
	margin: 1em auto; /* 1 linia marginesu od góry i dołu, a automatyczny od lewej i prawej */
	padding: 0.5em;
	border-style: groove;
	border-width: 6px;
	border-color: green;
}


nazwa {
	display: block;
	font-size: 120%;
	/* font-size: 1.2em; */
}

kategoria nazwa {
	font-style: italic;
}

towar nazwa {
	text-decoration: underline;
}

*[id-kategorii="herbata"] {
	background-color: #DDCCCC;
}

*[id-kategorii="kawa"] {
	background-color: #CCFFDD;
}

*[id-kategorii="czeko"] {
	background-color: #FFCCEE;
}


cena, vat {
	display: block;
	
}

cena:before {
	content: "Cena: ";
}

cena:after {
	content: " zł";
}

vat:before {
	content: "VAT: ";
}

vat:after {
	content: "%";
}

cena-promocyjna {
	display:none;
}


/*
kategoria[id-kategorii="herbata"] {
	position: fixed;
	top: 20px;
	left: 40px;
}
*/