
sklep {
	background-color: #FFFFAA;
}

kategoria, towar {
	display: block;
	min-width: 320px;
	max-width: 520px;
	margin: 30px auto;
	padding: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
}

kategoria {
	background-color: #DDFFFF;
}

towar {
	background-color: #FFFFFF;
}

nazwa {
	display: block;
	font-weight: bold;
	font-size: larger;
	text-align: center;
}

cena, vat {
	display: block;
	margin-left: 10px;
}

cena-promocyjna {
	display: none;
}

opis {
	display: block;
}

em {
	font-style: italic;
	color: navy;
}

term {
	font-weight: bold;
	color: navy;
}

br {
	display: block;
}



