
sklep {
	background-color: #FFFFAA;
}

kategoria, towar {
	display: block;
	min-width: 320px;
	max-width: 520px;
	margin: 30px auto;
	padding: 10px;
	border-style: outset;
	border-width: 4px;
	border-color: blue;
}

towar:hover {
	border-style: inset;
}

towar:hover nazwa {
	color: blue;
}

towar[id-kategorii="herbata"] {
	background-color: #CCFFCC;
}

kategoria {
	background-color: #DDFFFF;
}

towar {
	background-color: #FFFFFF;
}

nazwa {
	display: block;
	font-weight: bold;
	font-size: larger;
	text-align: center;
	margin-bottom: 0.5em;
}

cena, vat {
	display: block;
	margin-left: 10px;
}

cena:before {
	content: "Cena: ";
	color: grey;
}

cena:after {
	content: "zł";
}

vat:before {
	content: "VAT: ";
	color: grey;
}

vat:after {
	content: "%";
}


cena-promocyjna {
	display: none;
}

opis {
	display: block;
}

em {
	font-style: italic;
	color: navy;
}

term {
	font-weight: bold;
	color: navy;
}

br {
	display: block;
}
